/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3

   Civil War History Style Sheet
   Author: ThinhPham & 244079
   Date: 2/9/2018

   Filename: cw_styles.css

*/


/* Structural Styles */




/* Body Header Styles */




/* Navigation Styles */




/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */
